* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  transition: background-color 0.3 ease;
}
.navbar a:hover {
  background-color: #ff5722;
  border-radius: 5px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

/* Hero Section */

.hero {
  height: 100vh;
  background: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat center center/cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 600px;
  text-align: center;
  animation: fadeIn 2s ease-out forwards;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: 0;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  opacity: 0;
}

.btn {
  position: relative;
  padding: 15px 30px;
  background-color: #ff5772;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.3s ease;
  opacity: 0;
}
.hero .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 500%;
  background-color: rgba(255, 205, 255, 0.1);
  transition: width 0.4s ease height 0.4s ease, top 0.4s ease, left 0.4s ease;
  border-radius: 45% 60% 50% 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(250, 50, 300, 0.3);
  z-index: -100;
}

.btn:hover {
  background-color: #e64a19;
}
.btn:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

/* Scroll Top Button */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}
#scrollTopBtn:hover {
  background-color: #e64a19;
}

/* Features Section */
.features {
  background-color: #f4f4f4;
}
.features h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  opacity: 0;
}
.feature-list {
  display: flex;
  justify-content: space-around;
  opacity: 0;
}
.feature-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: transform 0.3s ease;
}
.feature-item:hover {
  transform: translateY(-10px);
}

/* Contact Section */
.contact {
  background-color: #ff5722;
  color: white;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact p {
  margin-bottom: 20px;
}
.contact .btn {
  background-color: white;
  color: #ff5722;
}
.contact .btn:hover {
  background-color: #f4f4f4;
}

/* Parallax section effect */
.parallax {
  background-image: url("https://images.pexels.com/photos/3695354/pexels-photo-3695354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 500px;
  background-attachement: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.parallax-2 {
  background-image: url("https://images.pexels.com/photos/6804069/pexels-photo-6804069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachement: fixed;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.parallax-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
    tranform: translateY(0);
  }
}

/* Mobile responsive design */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-sze: 1rem;
  }

  .features .feature-list {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    width: 80%;
    margin-bottom: 20px;
  }
  .parallax {
    background-attachement: scroll;
  }
}
