* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}
section {
  padding: 60px 20px;
  text-align: center;
}

/* Hero Section */

.hero {
  height: 100vh;
  background: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat center center/cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 600px;
  text-align: center;
  animation: fadeIn 2s ease-out forwards;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: 0;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  opacity: 0;
}

.btn {
  padding: 15px 30px;
  background-color: #ff5772;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3 ease;
  opacity: 0;
}
.btn:hover {
  background-color: #e64a19;
}
/* Features Section */

.features {
  background-color: #f4f4f4;
}
.features h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}
.feature-list {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.feature-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: transform 0.3s ease;
}
.feature-item:hover {
  transform: translateY(-10px);
}

/* Contact Section */
.contact {
  background-color: #ff5722;
  color: white;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact p {
  margin-bottom: 20px;
}
.contact .btn {
  background-color: white;
  color: #ff5722;
}
.contact .btn:hover {
  background-color: #f4f4f4;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
    tranform: translateY(0);
  }
}
